<style type="text/css">
    .mpdl_logo {
        float: right;
        padding: 5px;
        background-color: #ffffff;
        border-bottom-left-radius: 10px;
        -moz-border-bottom-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -ms-border-bottom-left-radius: 10px;
        -o-border-bottom-left-radius: 10px;
        box-shadow: 5px 0px 15px #000000;
        -moz-box-shadow: 5px 0px 15px #000000;
        -webkit-box-shadow: 5px 0px 15px #000000;
        -ms-box-shadow: 5px 0px 15px #000000;
        -o-box-shadow: 5px 0px 15px #000000;
    }
    .mpdl_logo:after {
        clear: both;
        content: " ";
        display: inline-block;
    }
</style>
<!-- mpdl logo on top right, included in navigation-bar -->
<a class="mpdl_logo" title="Homepage: Max Planck Digital Library" target="_blank" href="http://www.mpdl.mpg.de/">
    <img height="30" alt="Logo: Max Planck Digital Library" src="/csl-editor/images/mpdl-logo.png">
</a>
